# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - backend/CapstoneEcommerce/**

pool:
  vmImage: ubuntu-latest

steps:
  - task: SonarCloudPrepare@1
    inputs:
      SonarCloud: 'SonarCloud'
      organization: 'esmee-test'
      scannerMode: 'Other'
      extraProperties: |
        # Additional properties that will be passed to the scanner,
        # Put one key=value per line, example:
        # sonar.exclusions=**/*.bin
        sonar.projectKey=esmee-test_luv2shop
        sonar.projectName=luv2shop
  - task: Maven@3
    inputs:
      mavenPomFile: 'backend/CapstoneEcommerce/pom.xml'
      mavenOptions: '-Xmx3072m'
      javaHomeOption: 'JDKVersion'
      jdkVersionOption: '11'
      jdkArchitectureOption: 'x64'
      publishJUnitResults: true
      sqAnalysisEnabled: true
      codeCoverageToolOption: JaCoCo
      isJacocoCoverageReportXML: true
      testResultsFiles: '**/surefire-reports/TEST-*.xml'
      goals: 'package'
  - task: PublishBuildArtifacts@1

  - task: AzureRmWebAppDeployment@4
    inputs:
      ConnectionType: 'AzureRM'
      azureSubscription: 'Azure for Students(e1570a05-4ec6-4991-98c9-22442f138dac)'
      appType: 'webAppLinux'
      WebAppName: 'capstonetestdeploy'
      packageForLinux: '$(System.DefaultWorkingDirectory)/**/*.zip'
      RuntimeStack: 'JAVA|11-java11'